@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Times new roman";
  src: url("/fonts/EBGaramond-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */
  --color-green-700: #205b4b;
  --color-green-950: #0d211d;

  --color-neutral-300: #d4d4d8;

  /*Farver */
  --color-primary-green-900: #173a31;
  --color-primary-Background-50: #fffdf5;
  --color-Surface-neutral-50: #fafafa;
  --color-secondary-beige-100: #eee9d7;
  --color-secondary-beige-50: #f9f7f1;

  /*Farver Tekst*/
  --color-primary-neutral-950: #09090b;
  --color-secondary-neutral-600: #52525b;
  --color-inverce-neutral-50: #fafafa;

  /*Typografi */
  --font-display: "Times new roman", monospace;
  --font-sans: "Montserrat", sans-serif;
  --font-serif: "EBGaramond", serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
