@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Montserrat";
  src: url("/public/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "EBGaramond";
  src: url("/public/EBGaramond-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Alex Brush";
  src: url("/public/AlexBrush-Regular.ttf") format("truetype");
}

@theme {
  /* Farver */
  --color-green-700: #205b4b;
  --color-green-950: #0d211d;

  --color-neutral-300: #d4d4d8;
  --color-neutral-600: #52525b;

  --color-beige-200: #ded4b4;

  --color-white: #ffffff;

  /*Toksens Farver */
  --color-primary-green-900: #173a31;
  --color-primary-Background-50: #fffdf5;
  --color-Surface-neutral-50: #fafafa;
  --color-secondary-beige-100: #eee9d7;
  --color-secondary-beige-50: #f9f7f1;
  --color-secondary-blue-100: #e4eaf1;

  /*Farver Tekst*/
  --color-primary-neutral-950: #09090b;
  --color-secondary-neutral-600: #52525b;
  --color-inverce-neutral-50: #fafafa;

  /*Typografi */
  --font-sans: "Montserrat", sans-serif;
  --font-display: "EBGaramond", Georgia, serif;
  --font-alex-brush: "Alex Brush", cursive;

  --text-body: 1rem; /* 19px */
}

@layer base {
}

@layer components {
}

@layer utilities {
}
