---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import DropdownSection from "../components/Dropdownsection.astro";
import HeroPages from "../components/HeroPages.astro";
import AktiviteterCard from "../components/AktiviteterCard.astro";
import VarelseSlider from "../components/VarelseSlider.astro";

const aktiviteterdropdown = [
  {
    title: "Haven & terrassen",
    tagline: "Slap af i det grønne",
    body: "Træd ud i vores hyggelige have og nyd frisk luft, grønne omgivelser og kolde forfriskninger – det perfekte sted at trække vejret og lade op. Vi har skabt et afslappende udendørsrum, hvor du kan sætte tempoet ned og nyde øjeblikket i rolige, naturskønne rammer, mens vores personale sørger for, at du har alt, hvad du har brug for.",
  },
  {
    title: "Orangeriet",
    tagline: "Udeliv hele året rundt",
    body: "Hvorfor lade vejret bestemme? Vores orangeri forlænger sæsonen og skaber en varm, lys og indbydende ramme, selv når temperaturen falder. Det er  det perfekte sted at samles, slappe af og nyde den gode stemning –  uanset årstid.",
  },
  {
    title: "Bunkeren",
    tagline: "Historien venter under jorden",
    body: "Tør du gå på opdagelse i mørket? På hotellets grund gemmer sig et ægte  beskyttelsesrum fra 2. verdenskrig. Tag med ned i bunkeren og få et  fascinerende og stemningsfuldt indblik i en af historiens mørkeste  perioder – en oplevelse helt ud over det sædvanlige.",
  },
  {
    title: "Cykler",
    tagline: "Udforsk Nyborg på to hjul",
    body: "Hop på sadlen og oplev Nyborg i dit eget tempo! Lån en af hotellets cykler og pedal dig frem til byens smukke badestrande, den historiske Nyborg Fæstning eller de mange shoppingmuligheder – en aktiv og sjov  måde at opdage alt, hvad byen har at byde på.",
  },
  {
    title: "Kano",
    tagline: "Oplev voldgraven fra vandets overflade",
    body: "Se Nyborg fra et helt nyt perspektiv og padle dig gennem den historiske voldgrav i en af hotellets kanoer. Kanoerne står til fri afbenyttelse for alle hotellets gæster – så det er bare med at tage vandtøjet på og give sig i kast med eventyret.",
  },
  {
    title: "Petanque baner & Kryds og bolle",
    tagline: "Klassiske spil for hele familien",
    body: "Uanset alder og fysik er der plads til alle på vores petanquebaner og ved vores kæmpe Kryds og Bolle-spil. Banerne står altid klar til fri  afbenyttelse, så tag familien med og få en hyggelig kamp i de grønne  omgivelser.",
  },
];

import ReviewCard from "../components/ReviewCard.astro";
const reviews = [
  {
    rating: 5,
    title: "Fuld valuta for pengene",
    text: "Atmosfæren i huset er god. Personalet meget imødekomne. Parkering fin. Også fin morgenbuffet.",
    name: "Hans",
  },
  {
    rating: 4,
    title: "Charmerende Hotel",
    text: "Et virkelig hyggeligt hotel med masser af charme. Ligger i centrum med gå afstand til byen.",
    name: "Jytte",
  },
  {
    rating: 5,
    title: "Enestående",
    text: "Charmerende hotel med plads til at vi kunne mødes og spille og hygge om aftenen i familien. Venlige og hjælpsomme værter.",
    name: "Anette",
  },
  {
    rating: 4,
    title: "Virkelig hyggeligt og hjemligt.",
    text: "Jeg blev overrasket over hvor flot indretningen var såvel udendørs som indendørs. Detaljegraden, stemningen, interiør og farvevalg gjorde at man gerne ville blive lidt længere.",
    name: "Vicki",
  },
  {
    rating: 5,
    title: "Super hyggeligt sted. Meget venligt personale",
    text: "Et super hyggeligt sted, god parkeringsmulighed, meget god morgenmad, meget venligt personale, gode senge..",
    name: "Vidjai",
  },
  {
    rating: 5,
    title: "Afslappenende og hyggeligt",
    text: "Roen, hyggen, bare så rart",
    name: "Jeannie",
  },
  {
    rating: 5,
    title: "Det kan kun anbefales.",
    text: "Super charmerende sted. Afslappet stemning.",
    name: "Leif",
  },
  {
    rating: 5,
    title: "Hyggeligt og smukt indrettet.",
    text: "Skønt hotel med masser af karakter og charme.",
    name: "Miriam",
  },
  {
    rating: 4,
    title: "Meget godt",
    text: "Godt værelse, god udsigt, måske lidt mere varme/temperatur men tilfreds med opholdet",
    name: "Anders",
  },
];
---

<MainLayout title="Titel">
  <!-- HERO SECTION -->
  <section class="relative w-full h-160 overflow-hidden">
    <div>
      <video class="absolute inset-0 w-full h-full object-cover z-0" autoplay muted loop playsinline>
        <source src="/videohero.mp4" type="video/mp4" />
      </video>
      <div class="absolute inset-0 bg-black/30 z-10"></div>
    </div>
    <main class="relative z-20 px-[var(--gutter)] mx-auto max-w-[1340px] pt-40">
      <div class="text-center">
        <Heading htmlheading="h3" size="medium" font="display" stylingclasses="font-light text-white"> Boutique hotel i hjertet af Nyborg </Heading>
        <Heading htmlheading="h1" size="hero" font="display" stylingclasses="font-light text-white md:max-w-120 md:mx-auto text-center md:leading-none md:pt-4"> Dit hjem når du er væk hjemmefra </Heading>
        <div class="pt-5 md:pt-8 flex md:flex gap-3 md:gap-7 justify-center">
          <Button class="w-45 md:w-64" variant="secondary-large" size="medium">Læs mere om hotellet</Button>
          <Button class="w-45 md:w-64" variant="primary-large" size="medium">Book nu</Button>
        </div>
      </div>
      <!-- PIL -->
      <div class="absolute inset-x-0 flex justify-center z-20 top-130 md:top-130">
        <div class="relative w-20 h-20">
          <span class="absolute left-0 top-1/2 w-[61%] h-[4px] bg-white rotate-45"></span>
          <span class="absolute right-0 top-1/2 w-[60%] h-[4px] bg-white -rotate-45"></span>
        </div>
      </div>
    </main>
  </section>

  <!-- VÆRELSES SECTION -->
  <VarelseSlider
    slides={[
      {
        title: "Deluxe dobbeltværelse - Havudsigt",
        description: "Nyd den smukke udsigt over vandet fra dit lyse værelse eller den private terrasse. Indrettet med en King size-seng, eget badeværelse og morgenmad inkluderet.",
        price: "1400 dkk",
        bookingHref: "/book",
        image: {
          src: "/public/deluxe1.png",
          alt: "Dobbeltværelse mod havnen",
        },
      },
      {
        title: "Deluxedobbeltværelse",
        description: "Nyd udsigten over byens liv og den smukke kirke fra dit stemningsfulde værelse. Indrettet med en King size-seng, eget badeværelse og morgenmad inkluderet.",
        price: "1295 dkk",
        bookingHref: "/book",
        image: {
          src: "/public/deluxe2.png",
          alt: "Dobbeltværelse mod havnen",
        },
      },
      {
        title: "Dobbeltværelse mod havnen",
        description: "Nyd udsigten over havnen fra dit stemningsfulde værelse med dobbeltseng, siddepladser og tv. Eget badeværelse og morgenmad inkluderet.",
        price: "890 dkk",
        bookingHref: "/book",
        image: {
          src: "/public/deluxe3.png",
          alt: "Dobbeltværelse mod havnen",
        },
      },
      {
        title: "Dobbeltværelse mod gaden",
        description: "Tag byens stemning ind fra dit lyse værelse med udsigt over byens liv.  Indrettet med en dobbeltseng, eget badeværelse og morgenmad inkluderet",
        price: "890 dkk",
        bookingHref: "/book",
        image: {
          src: "/public/deluxe4.png",
          alt: "Dobbeltværelse mod havnen",
        },
      },
      {
        title: "Dobbeltværelse i stueetagen",
        description: "Tæt på vandet og byens puls — et stemningsfuldt værelse i stueetagen med udsigt over havnen. Dobbeltseng, eget badeværelse og morgenmad inkluderet.",
        price: "1045 dkk",
        bookingHref: "/book",
        image: {
          src: "/public/deluxe5.png",
          alt: "Dobbeltværelse mod havnen",
        },
      },
      {
        title: "Enkeltværelse med havudsigt",
        description: "Et charmerende værelse under tagene med karakterfulde skråvægge og udsigt over havnen. Eget badeværelse og morgenmad inkluderet.",
        price: "695 dkk",
        bookingHref: "/book",
        image: {
          src: "/public/enkelt6.png",
          alt: "Dobbeltværelse mod havnen",
        },
      },
    ]}
  />

  <!-- INFOGRAFIK SECTION -->
  <section class="flex flex-col items-center gap-8 py-10">
    <div class="flex items-center w-full">
      <div class="flex-1 flex flex-col items-center gap-3 px-2">
        <div class="h-12 flex items-end justify-center">
          <img src="/public/ur.svg" alt="Check ind" class="w-9 h-9 md:w-14 md:h-14 object-contain" />
        </div>
        <Text teksttype="brødtekst" stylingclasses="font-light text-center"> Check in efter kl 15 </Text>
      </div>
      <div class="w-px h-24 md:h-31 bg-primary-neutral-950 shrink-0"></div>
      <div class="flex-1 flex flex-col items-center gap-3 px-2">
        <div class="h-12 flex items-end justify-center">
          <img src="/public/parkering.svg" alt="Parkering" class="w-9 h-9 md:w-14 md:h-14 object-contain" />
        </div>
        <Text teksttype="brødtekst" stylingclasses="font-light text-center"> Fri parkering </Text>
      </div>
      <div class="w-px h-24 md:h-31 bg-primary-neutral-950 shrink-0"></div>
      <div class="flex-1 flex flex-col items-center gap-3 px-2">
        <div class="h-12 flex items-end justify-center">
          <img src="/public/morgenmad.svg" alt="Morgenmad" class="w-9 h-9 md:w-14 md:h-14 object-contain" />
        </div>
        <Text teksttype="brødtekst" stylingclasses="font-light text-center"> Morgenmad inkluderet i prisen </Text>
      </div>
      <div class="w-px h-24 md:h-31 bg-primary-neutral-950 shrink-0"></div>
      <div class="flex-1 flex flex-col items-center gap-3 px-2">
        <div class="h-12 flex items-end justify-center">
          <img src="/public/ur.svg" alt="Check ud" class="w-9 h-9 md:w-14 md:h-14 object-contain" />
        </div>
        <Text teksttype="brødtekst" stylingclasses="font-light text-center"> Check ud kl 11 </Text>
      </div>
    </div>
    <a href="/praktiskinfo">
      <Button variant="secondary" size="small">Læs mere</Button>
    </a>
  </section>

  <!-- HISTORIE SECTION -->
  <section class="grid grid-cols-2">
    <div>
      <img src="/public/aktiviteter_drop.png" alt="Aktiviteter" />
    </div>
    <div class="bg-[var(--color-secondary-blue-100)] justify-center flex flex-col gap-2 px-10 py-5">
      <Heading htmlheading="h2" size="large" font="display" stylingclasses="font-light mb-1"> På sporet af hotellets historie </Heading>
      <Text teksttype="brødtekst" stylingclasses="font-light "> Når du træder ind ad døren på Hotel Villa Gulle, træder du ind i et stykke af Nyborgs historie. </Text>
      <Text teksttype="brødtekst" stylingclasses="font-light "> Vores fundament blev lagt helt tilbage i 1873, da den fynske skibsmægler Hans Friis opførte en storslået klassicistisk villa til sig selv og sin familie. Siden da har bygningerne levet mange liv – fra samlingspunkt for byens borgere i 1920’ernes nybyggede festsal til det lokale missionshotel. </Text>
      <a href="/omhotelvillagulle">
        <Button variant="secondary" size="small">Læs mere</Button>
      </a>
    </div>
  </section>

  <!-- AKTIVITETER SECTION -->
  <section>
    <DropdownSection heading="Aktiviteter" image="/public/aktiviteter_drop.png" imageAlt="Terrasse med borde og stole" items={aktiviteterdropdown} buttonText="Læs mere" buttonHref="/aktiviteter" />
  </section>

  <!-- GÆSTE REVIEWS SECTION -->
  <section class="relative z-20 md:pb-15">
    <div class="flex items-center gap-4 w-full">
      <!-- VENSTRE -->
      <button id="prev" class="shrink-0 z-10">
        <img src="/knap_review_venstre.png" class="w-8 h-7 pl-1 md:pl-1" alt="venstre" />
      </button>

      <!-- VIEWPORT -->
      <div id="viewport" class="overflow-x-auto scroll-smooth flex-1 snap-x snap-mandatory scrollbar-hide">
        <div id="track" class="flex">
          {
            reviews.map((r) => (
              <div class="w-[70%] sm:w-[80%] md:w-1/2 lg:w-1/3 p-3 shrink-0 mx-auto">
                <ReviewCard {...r} />
              </div>
            ))
          }
        </div>
      </div>

      <!-- HØJRE -->
      <button id="next" class="shrink-0 z-10">
        <img src="/knap_review_hoejre.png" class="w-8 h-7 pr-1 md:pl-1" alt="højre" />
      </button>
    </div>

    <!-- DOTS -->
    <div id="dots" class="flex gap-2 mt-4 justify-center"></div>
  </section>

  <script>
    const viewport = document.getElementById("viewport");
    const track = document.getElementById("track");
    const slides = track.children;

    const prevBtn = document.getElementById("prev");
    const nextBtn = document.getElementById("next");
    const dotsContainer = document.getElementById("dots");

    let index = 0;

    const getSlidesPerView = () => {
      if (window.innerWidth >= 1024) return 3;
      if (window.innerWidth >= 768) return 2;
      return 1;
    };

    const maxIndex = () => slides.length - getSlidesPerView();

    function update() {
      const slideWidth = slides[0].offsetWidth;
      viewport.scrollTo({
        left: slideWidth * index,
        behavior: "smooth",
      });

      updateDots();
    }

    function createDots() {
      dotsContainer.innerHTML = "";

      for (let i = 0; i <= maxIndex(); i++) {
        const dot = document.createElement("button");
        dot.className = "w-2.5 h-2.5 rounded-full transition-all";

        dot.addEventListener("click", () => {
          index = i;
          update();
        });

        dotsContainer.appendChild(dot);
      }

      updateDots();
    }

    function updateDots() {
      const dots = dotsContainer.children;

      for (let i = 0; i < dots.length; i++) {
        dots[i].className = i === index ? "w-6 h-2.5 rounded-full bg-black transition-all" : "w-2.5 h-2.5 rounded-full bg-gray-300 transition-all";
      }
    }

    prevBtn.addEventListener("click", () => {
      index = Math.max(index - 1, 0);
      update();
    });

    nextBtn.addEventListener("click", () => {
      index = Math.min(index + 1, maxIndex());
      update();
    });

    viewport.addEventListener("scroll", () => {
      const slideWidth = slides[0].offsetWidth;
      index = Math.round(viewport.scrollLeft / slideWidth);
      updateDots();
    });

    window.addEventListener("resize", () => {
      index = 0;
      createDots();
      update();
    });

    createDots();
  </script>
</MainLayout>
