---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
---

<footer class="bg-primary-green-900 text-white">
  <div class="container mx-auto p-4">
    <div class="hidden md:block text-center">
      <Heading htmlheading="h1" size="hero" font="display"> HOTEL VILLA GULLE </Heading>
    </div>
    <div class="grid md:grid-cols-3 text-center md:text-left md:gap-40 md:pl-50 md:pr-40">
      <!-- SE MERE -->
      <div class="mt-4">
        <Heading htmlheading="h3" size="medium" font="display" stylingclasses="mt-4 md:mt-0">Se mere</Heading>
        <Text teksttype="brødtekst" stylingclasses="font-light"> <a href="/omhotelvillagulle">Om Hotel Villa Gulle</a></Text>
        <Text teksttype="brødtekst" stylingclasses="font-light"> <a href="/aktiviteter">Aktiviteter</a></Text>
        <Text teksttype="brødtekst" stylingclasses="font-light"> <a href="/praktiskinfo">Praktisk Info</a></Text>
      </div>
      <!-- INFORMATION -->
      <div class="mt-4">
        <Heading htmlheading="h3" size="medium" font="display" stylingclasses="mt-6 md:mt-0">Information</Heading>
        <Text teksttype="brødtekst" stylingclasses="font-light"> Handelsbetingelser </Text>
        <Text teksttype="brødtekst" stylingclasses="font-light"> Persondatapolitik </Text>
        +45 23 23 02 19
      </div>
      <!-- KONTAKT -->
      <div class="mt-4">
        <Heading htmlheading="h3" size="medium" font="display" stylingclasses="mt-6 md:mt-0">Kontakt</Heading>
        <Text teksttype="brødtekst" stylingclasses="font-light"> Østervoldgade 44, 5800 Nyborg, Danmark </Text>
        <Text teksttype="brødtekst" stylingclasses="font-light"> Kontakt@hotelvillagulle.dk </Text>
        <Text teksttype="brødtekst" stylingclasses="font-light"> +45 23 23 02 19 </Text>
        <div class="flex gap-3 justify-center md:justify-start">
          <a href="http://www.instagram.com/hotelvillagulle?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img class="w-6 h-6" src="/public/instaicon.png" alt='instagram"' /></a>
          <a href="http://www.facebook.com/profile.php?id=100076375740495"> <img class="w-6 h-6" src="/public/facebookicon.png" alt='facebook"' /></a>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <img class="w-60 md:w-110 mt-10 md:mt-3" src="public/Hvid_logo.png" alt="hvid_logo" />
      <Heading htmlheading="h1" size="large" font="display" stylingclasses="mt-3 md:hidden"> HOTEL VILLA GULLE </Heading>
    </div>

    <p class="text-right">&copy; 2025</p>
  </div>
</footer>
