---

---

<footer class="bg-primary-green-900 text-white">
  <div class="container mx-auto p-4">
    <p class="hidden md:block text-center mb-6">HOTEL VILLA GULLE</p>
    <div class="grid md:grid-cols-3 text-center md:text-left md:gap-40 md:pl-50 md:pr-40">
      <!-- SE MERE -->
      <div class="mt-4">
        <h3>Se mere</h3>
        <p><a href="/omhotelvillagulle">Om Hotel Villa Gulle</a></p>
        <p><a href="/aktiviteter">Aktiviteter</a></p>
        <p><a href="/praktiskinfo">Praktisk Info</a></p>
      </div>
      <!-- INFORMATION -->
      <div class="mt-4">
        <h3>Information</h3>
        <p>Handelsbetingelser</p>
        <p>Persondatapolitik</p>
        <p>Smiley rapport</p>
      </div>
      <!-- KONTAKT -->
      <div class="mt-4">
        <h3>Kontakt</h3>
        <p>Østervoldgade 44, 5800 Nyborg, Danmark</p>
        <p>Kontakt@hotelvillagulle.dk</p>
        <p>+45 23 23 02 19</p>
        <div class="flex gap-3 justify-center md:justify-start">
          <img class="w-6 h-6" src="public/public/instaicon.png" alt='instagram"' />
          <img class="w-6 h-6" src="public/public/facebookicon.png" alt='facebook"' />
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <img class="w-60 md:w-110 mt-10 md:mt-3" src="public/Hvid_logo.png" alt="hvid_logo" />
      <p class="md:hidden text-center">HOTEL VILLA GULLE</p>
    </div>
  </div>
  <p class="text-right">&copy; 2025</p>
</footer>
