---
import Heading from "./Heading.astro";
import Text from "./Text.astro";

const { icon, title, text } = Astro.props;
---

<div class="bg-secondary-beige-100 p-12 flex flex-col items-center text-center aspect-square">
  <img src={icon} alt={title} class="w-15 h-15 mb-5" />

  <Heading htmlheading="h3" size="medium" font="display" stylingclasses="mb-5">
    {title}
  </Heading>

  <Text teksttype="brødtekst" stylingclasses="max-w-[260px] text-center">
    {text}
  </Text>
</div>
