---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
const { title, text, name, rating } = Astro.props;
const stjerner = Array.from({ length: rating });
---

<div class="h-full flex flex-col bg-primary-Background-50 p-3 border-primary-green-900 border-2">
  <div class="flex mb-3">
    {stjerner.map(() => <img src="/stjerne.png" class="w-7 h-7" alt="stjerne" />)}
  </div>
  <div>
    <Heading htmlheading="h4" size="small" font="display" stylingclasses="mb-2">
      {title}
    </Heading>

    <Text teksttype="brødtekst" stylingclasses="text-gray-600 mb-4">
      {text}
    </Text>

    <Heading htmlheading="h4" size="xsmall" font="display" stylingclasses="mb-2">
      {name}
    </Heading>
  </div>
</div>
