---
// Henter parametrene fra Astro.props
const { teksttype = "brødtekst", stylingclasses = "" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
  konsultativ: "text-sm",
  brødtekst: "text-xs md:text-body my-4",

  signatur: "font-alex-brush text-[0.9375rem] lg:text-[1.25rem]", // Mobil: 15px, Web: 30px
};
---

<p class:list={[sizeClasses[teksttype], stylingclasses]}><slot /></p>
